body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
}

/* Main Green Button */
button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #447848;
}
/* Secondary Blue Button */
button.secondary {
    background-color: #008CBA; /* Blue background */
    color: white;
}

button.secondary:hover {
    background-color: #007B9A; /* Darker blue for hover */
}

/* Optional: Small Buttons */
button.small {
    padding: 10px 20px;  /* Smaller padding */
    font-size: 14px;     /* Smaller font */
    background-color: #f1f1f1; /* Light grey background */
    color: #333;         /* Dark text */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px;  /* Rounded corners */
}

button.small:hover {
    background-color: #ddd; /* Blue background */
}
/* Optional: Small & blue Buttons */
button.small-blue {
    padding: 10px 20px;  /* Smaller padding */
    font-size: 14px;     /* Smaller font */
    background-color: #008CBA; /* Light grey background */
    color: #white;         /* Dark text */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px;  /* Rounded corners */
}

button.small-blue:hover {
    background-color: #143675; /* Darker blue for hover */
}

/* Disable Button */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.screenshot {
    max-width: 300px;
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ol {
    line-height: 1.8;
}

ul {
    line-height: 1.8;
}

