<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Info Extractor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
</head>
<body>
    <h1>Player Info Extractor
	<button onclick="window.location.href='https://log-extractor-wess.onrender.com/'" class="back-button">Back to Homepage</button>
	</h1>
    <form id="upload-form" enctype="multipart/form-data" method="POST">
        <div id="drop-area">
            <p>Drag & Drop or upload from PC or Memory Log File Here</p>
            <input type="file" id="file-input" name="file" accept=".txt" style="display: none;">
        </div>
        <section class="buttons">
            <button type="button" onclick="document.getElementById('file-input').click()">Choose File</button>
            <button type="submit">Extract Data</button>
        </section>
    </form>

    <!-- Hidden Buttons to show after data is extracted -->
<div id="download-buttons" style="display:none;">
    <h3>Spreadsheet ready! You can now download the file. Click the button below!</h3>
    <button id="download-player-info-excel" type="button" class="shake" onclick="window.location.href='/download-excel/player-info'">
        Download Player Info Spreadsheet
    </button>
</div>

   <p></p>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='player_info_script.js') }}"></script>
	
	 <footer>
        <p>&copy; 2025 Last Fortress Tool | All Rights Reserved</p>
    </footer>
</body>
</html>
